button {
    color: white;
    background-color: rgba(4, 116, 131, 0.916);
    width: 130px;
    height: 42px;
    border: 0px;
    border-radius: 7px;
    font-size: medium;
    font-weight: bold;
}

button:hover {
    background-color: rgb(5, 76, 85);
    cursor: pointer;
}

@media only screen and (max-width: 1250px) {
    header {
        padding: 20px 0px;
    }
}

@media only screen and (max-width: 830px) {
    .nav-flex a {
        margin: 0 5px;
    }
}