header {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding: 0 200px;
}

.nav-flex {
    display: flex;
    align-items: center;
}

.nav-flex a {
    margin: 0 20px;
    color: rgba(0, 0, 0, 0.525);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nav-flex a:hover {
    color: black;
    opacity: 0.9;
}

.header-icon {
    width: 93px;
    height: 56px;
}

.registracion {
    display: flex;
    align-items: center;
}

.registracion a {
    margin: 0 20px;
    color: rgba(0, 0, 0, 0.525);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.registracion a:hover {
    color: black;
    opacity: 0.9;
}